.about-section {
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.title {
  font-size: 2.5rem;
  color: #343a40;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
  color: #6c757d;
}

.owner-name {
  font-size: 2rem;
  color: #007bff;
  margin-top: 30px;
}

.statistic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  width: 80px; /* Circle size */
  height: 80px; /* Circle size */
  background-color: #007bff; /* Circle color */
  color: white; /* Text color */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Font size of number */
  margin-bottom: 10px; /* Space between circle and title */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #343a40;
  margin: 0; /* Reset margin for titles */
  font-size: 1.25rem; /* Font size for titles */
}

p {
  color: #495057;
  line-height: 1.6;
  font-size: 1.20rem;
}
