.about-section {
  /* background-color: #f8f9fa; */
  padding: 40px 20px;
}

.title {
  font-size: 3.5rem;
  font-family: "Great Vibes", cursive;
  letter-spacing: 1.5px;
  color: #ccaf66;
}

.subtitle {
  font-size: 1.25rem;
  color: #666;
  font-family: "Lato", sans-serif;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.owner-name {
  font-size: 3.5rem;
  font-family: "Great Vibes", cursive;
  letter-spacing: 1.5px;
  color: #ccaf66;
}

.statistic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle {
  width: 80px; /* Circle size */
  height: 80px; /* Circle size */
  background-color: #35453d; /* Circle color */
  color: white; /* Text color */
  border-radius: 50%; /* Make it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Font size of number */
  margin-bottom: 10px; /* Space between circle and title */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #343a40;
  margin: 0; /* Reset margin for titles */
  font-size: 1.25rem; /* Font size for titles */
  font-family: "Lato", sans-serif;
  margin-bottom: 2rem;
}

p {
  font-family: "Lato", sans-serif;
  color: #666;
  line-height: 1.6;
  font-size: 1.2rem;
}
