#services-page {
  padding: 50px 0;
  margin-top: 0px;
}

.section-title {
  font-size: 4rem;
  margin-bottom: 50px;
  color: #ccaf66; /* Gold header color */
  font-family: "Great Vibes", cursive;
}

.unique-service-row {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.unique-service-row.flex-row-reverse {
  flex-direction: row-reverse;
  transform: translateX(-100px); /* Start from left for reversed rows */
}

.service-image {
  width: 90%; /* Full width */
  height: 290px; /* Fixed height for all images */
  border-radius: 10px !important;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.text-col {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-title {
  font-size: 2rem !important;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Great Vibes", cursive;
  color: #ccaf66 !important;
}

.service-description {
  font-size: 1.1rem;
  color: #333;
  font-family: "Lato", sans-serif;
}

.unique-service-row:hover .service-image {
  transform: scale(1.02);
}

/* Scroll Animation */
.unique-service-row.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 767px) {
  .unique-service-row {
    flex-direction: column;
    transform: translateX(0); /* Reset for smaller screens */
  }

  .unique-service-row.flex-row-reverse {
    flex-direction: column;
  }
}
