body {
    font-family: 'Arial', sans-serif;
}

.login-container {
    width: 400px;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px; /* Add margin at the top */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2em; /* Adjust icon size */
}

.login-container input {
    width: 100%;
    padding: 12px 40px; /* Add padding for icon */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.login-container input:focus {
    border: 1px solid #4CAF50; /* Change border color on focus */
    outline: none; /* Remove outline */
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.message {
    text-align: center;
    color: red;
    margin-top: 15px;
}
