.gallery-section {
  padding: 4rem 0;
  background-color: #f7f7f7;
}

.gallery-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #ccaf66;
}

.gallery-line {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-top: -10px;
  margin-bottom: 2rem;
}

.gallery-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.gallery-card {
  flex: 1;
  max-width: 400px;
  border: none;
  overflow: hidden;
  background: none;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.gallery-card:hover {
  transform: translateY(-10px);
}

.animated-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeZoom 3s infinite;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.gallery-card:hover img {
  transform: scale(1.1);
}

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.view-latest-link {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #8a5b3e;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.3s ease-in-out;
}

.view-latest-link:hover {
  color: #ccaf66;
}

@media (max-width: 768px) {
  .gallery-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
  }
}
