.custom-footer {
  background-color: black;
  color: #fafafa;
  padding: 2rem 0;
  border-top: 2px solid #8a5b3e;
}

.footer-logo-wrapper {
  text-align: left;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-section-title {
  color: #ccaf66;
  font-size: 1.2rem;
}

.footer-links, .footer-socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li, .footer-socials li {
  margin-bottom: 10px;
}

.footer-links a, .footer-socials a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover, .footer-socials a:hover {
  color: #ccaf66;
}

.footer-socials i {
  margin-right: 8px;
}

.footer-contact-wrapper a {
  color: #fafafa;
  font-size: .9rem;
  text-decoration: none;
}

.footer-contact-wrapper a:hover {
  color: #ccaf66;
}

.footer-address-wrapper p {
  margin-bottom: 0.5rem;
  color: #fafafa;
  font-size: 1.2rem !important;
}

.footer-copyright {
  color: #ccaf66;
  font-size: 0.9rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-logo {
    width: 220px;
    height: 160px;
  }

  .footer-section-title {
    font-size: 1.5rem;
  }

  .footer-links-wrapper, .footer-socials-wrapper, .footer-contact-wrapper, .footer-address-wrapper {
    text-align: center;
    margin-top: 20px;
  }

  .footer-links, .footer-socials {
    margin: 0 auto;
  }

  /* 2x2 grid for mobile layout */
  .footer-logo-wrapper, .footer-links-wrapper, .footer-socials-wrapper, .footer-contact-wrapper {
    width: 50%;
    float: left;
    text-align: center;
  }

  .footer-address-wrapper {
    width: 100%;
    clear: both;
  }

  /* Ensure email wraps and doesn't cut off */
  .email-address {
    padding: 0 15px !important; /* Add padding to create space from edges */
  }

  .email-address a {
    word-wrap: break-word;
    font-size: 0.9rem;
  }
}
