.custom-navbar {
  background: black;
  padding: 1.5rem 2rem;
  width: 100%;
  z-index: 100;
  top: 0;
}

.navbar-logo-wrapper {
  display: flex;
  justify-content: center;
}

.navbar-logo {
  width: 170px;
  height: 140px;
  margin: 0 4rem;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-nav-left,
.navbar-nav-right {
  display: flex;
  align-items: center;
}

.navbar-nav-left {
  margin-right: 30px;
  justify-content: center;
}

.navbar-nav-right {
  justify-content: flex-end;
  margin-right: 150px;
}

.navbar-nav-right .nav-link {
  background: linear-gradient(135deg, #8a5b3e, #ccaf66);
  width: 100px;
  padding: 10px 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.navbar-nav-left .nav-link {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 35px;
  color: #ccaf66;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.navbar-nav-left .nav-link::before,
.navbar-nav-left .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #8a5b3e;
  transition: width 0.3s ease;
  color: #fafafa !important;
}

.navbar-nav-left .nav-link::before,
.navbar-nav-right .nav-link::before {
  top: 5px;
  left: 0;
}

.navbar-nav-left .nav-link::after,
.navbar-nav-right .nav-link::after {
  bottom: 5px;
  left: 0;
}

.navbar-nav-left .nav-link:hover::before,
.navbar-nav-left .nav-link:hover::after {
  width: 100%;
}

.navbar-nav-left .nav-link:hover,
.navbar-nav-right .nav-link:hover {
  color: #fff;
}

.navbar-nav-left .nav-link.active::before,
.navbar-nav-left .nav-link.active::after {
  width: 100%;
}

.navbar-toggle {
  border-color: transparent;
  background: none;
}

.navbar-toggler-icon {
  background-color: #ccaf66;
  border-radius: 10px;
  width: 40px !important;
  height: 3px;
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}



/* Adjust the navbar for mobile */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 0.5rem 1rem;
    top: 0px;
  }

  .navbar-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-left: -4rem;
    margin-bottom: 0.5rem;
  }

  .navbar-logo {
    width: 130px;
    height: 100px;
  }

  .navbar-nav-left,
  .navbar-nav-right {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .navbar-nav-left .nav-link,
  .navbar-nav-right .nav-link {
    font-size: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
    color: #ccaf66;
  }

  .navbar-nav-right .nav-link {
    margin-left: 120px;
    width: 80%;
  }
  .contact {
    margin-left: 140px !important;
  }

  .navbar-toggle {
    margin-left: auto;
  }

  .header-top {
    padding: 0.3rem 0;
    font-size: 0.8rem;
  }
}
