.custom-navbar {
  background: rgb(12, 11, 11);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-logo {
  width: 120px;
  height: 90px;
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.brandname {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #8A5B3E;
  text-decoration: none;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.brandname:hover {
  color: darkcyan;
}

.navbar-nav {
  flex-grow: 1; /* Allow navbar links to grow */
  justify-content: center;
  margin-right: 70px; /* Center the nav links */
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 35px;
  color: #fcfcfc;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: darkcyan !important;
  text-decoration: none;
  outline: none;
}

.phone-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align phone numbers to the right */
}

.phone-numbers .nav-link {
  padding-left: 0;
  font-size: 1rem;
  color: #fcfcfc;
}

@media (max-width: 768px) {
  .navbar-logo {
    width: 60px;
    height: 50px;
  }

  .brandname {
    font-size: 2rem;
    font-weight: 900;
  }

  .custom-navbar {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navbar-nav{
    background-color: rgba(35, 30, 30, 0.687);
    width: 100%;

  }
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }

  .phone-numbers  {
    align-items: flex-start;
    background-color: rgba(35, 30, 30, 0.687);
    color: rgb(255, 255, 255);

    
  }
  .phone-numbers .nav-link{
    color: rgb(255, 255, 255);
    font-size: 1rem;


  }

  .navbar-toggler .navbar-toggler-icon {
    background-color: rgb(39, 34, 34); /* Make the background transparent */
  }
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 30px; /* Adjust width as needed */
    height: 2px; /* Adjust height as needed */
    background-color: #8A5B3E; /* Line color */
    margin: 4px 0; /* Space between lines */
    transition: background-color 0.3s ease;
  }
  

}
