.custom-navbar {
  background: rgba(0, 0, 0, 0.338); 
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-logo {
  width: 120px; 
  height: 90px; 
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out; 
}

.navbar-logo:hover {
  transform: scale(1.1); 
}

.brandname {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #8A5B3E; 
  text-decoration: none;
  font-family: Brush Script MT, Brush Script Std, cursive;
  margin-top: 10px;
  font-weight: bold;
  transition: color 0.3s ease-in-out; 
}

.brandname:hover {
  color: darkcyan; 
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 20px;
  color: #fcfcfc; 
  transition: color 0.3s ease-in-out; 
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: darkcyan !important; 
  text-decoration: none; 
  outline: none; 
}


.phone-numbers {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.phone-numbers .nav-link {
  padding-left: 0; 
  font-size: 1rem; 
}


@media (max-width: 768px) {
  .navbar-logo {
    width: 80px; 
    height: 60px; 
  }

  .brandname {
    font-size: 2rem; 
    margin-top: 5px;
  }

  .navbar-nav .nav-link {
    font-size: 1rem; 
    margin-left: 10px;
  }

  
  .custom-navbar {
    padding: 0.5rem 1rem;
  }
}
